# Directories
Build/
.idea
cmake-build-debug

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# ThirdParty
Engine/ThirdParty/fmod/lib
Engine/ThirdParty/freetype/lib

# Other
Analysis